@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  /* @font-face {
    font-family: "SF PRO 500";
    font-weight: 500;
    src: url(./assets/fonts/SF-Pro-Display-Regular.otf) format("otf");
  }

  @font-face {
    font-family: "SF PRO 500";
    font-weight: 600;
    src: url(./assets/fonts/SF-Pro-Display-Semibold.otf) format("otf");
  } */
}
